* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 14px;
}

img {
    display: block;
}

a {
    display: block;
    text-decoration: none;
}

input[type="radio"] {
    display: none;
}

/* -------------------------------------------------------------------------- */

.container {
    margin: 0 auto;
    width: 1200px;
}

.main-header {
    height: 10rem;
    min-width: 1200px;
    margin-bottom: 50px;
    background-color: darkslateblue;
    border: 1px dotted darkslateblue;
    ;
}

.main-logo .logo-text {
    margin-top: 3rem;
    font-size: 3rem;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration: none;
    text-align: left;
}

.main-logo .logo-text::first-letter {
    color: red;
}

.gallery {
    /* width: 100%; */
    /* overflow: hidden; */
    border: 1px red dotted;
}

.product-item {
    /* width: 285px; */
    width: 23.5%;
    float: left;
    margin-right: 1.5%;
    padding: 1%;
    background-color: #fff;
    border: 1px red dotted;
}

.product-item:last-child {
    margin-right: 0;
}

.product-img {
    width: 100%;
}

.product-description {
    display: none;
    margin-top: 5%;
}

.product-item p {
    margin-bottom: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-item:hover {
    padding: 1.5%;
    transform-origin: 0 0;
    transform: scale(1.4);
    box-shadow: 2px 0 5px 1px rgb(129, 125, 125);
}

.product-item:hover .product-description {
    display: block;
}

input:checked+.product-item img {
    position: fixed;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    pointer-events: none;
}

input:checked~.product-description {
    display: none;
}

/* --- Модальное окно ------------------------------------------------------------ */

/* Нужно ли ??? */

/*
input[name='increase-img']:checked~.modal-window {
    display: block;
}
*/

.modal-window {
    /* Модальное окно */
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
}

input#close-modal:checked~.modal-window, input#close-modal:checked~.modal-close {
    /* Делает нективными и невидимыми модальное окно и div для его закрытия по умолчанию */
    /* transition: opacity 200ms ease-in; */
    /* -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in; */
}

input#close-modal:checked~.modal-window, input#close-modal:checked~.modal-close {
    display: none;
}

.modal-close {
    /* Это div для закрытия модального окна */
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    z-index: 15;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.modal-close:hover {
    /* При нависании над div'om с крестиком, он чуть увеличивается */
    transform: scale(1.5);
}