:root {
    --header-height: 15vh;
    /* В дальнейшем размеры элементов .slider и смещений рассчитывааются от
    этой переменной -> можно изменять размеры самого слайдера в целом, не
    ломая динамику */
    --content-width: 80vw;
    --header-color: darkslateblue;
    --text-color: #333;
    --slider-switchers-color: rgb(33, 31, 139);
    --slider-switchers-border: solid 0.3vw var(--slider-switchers-color);
}

/* --- General -------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    font-size: 14px;
}

img {
    display: block;
}

input[type="radio"] {
    display: none;
}

/* --- Нeader -------------------------------------------------------------- */

.container {
    margin: 0 auto;
    width: var(--content-width);
}

.main-header {
    height: var(--header-height);
    margin-bottom: calc(var(--header-height) * 0.45);
    background-color: var(--header-color);
    border: 1px dotted var(--header-color);
}

.main-logo .logo-text {
    font-size: calc(var(--header-height) * 0.33);
    line-height: var(--header-height);
    color: #fff;
    text-align: left;
    letter-spacing: calc(var(--header-height) * 0.02);
}

.main-logo .logo-text::first-letter {
    color: red;
}

/* --- Slider -------------------------------------------------------------- */

.products {
    position: relative;
    width: var(--content-width);
    margin-left: calc((100vw - var(--content-width)) * 0.5);
}

.slider-wrapper {
    /* Ограничивает видимый фрагмент слайдера */
    overflow: hidden;
}

.slider {
    position: relative;
    /* Редуцирует пробелы между элементами inline-block*/
    font-size: 0;
    /* Располагает product-items в одну строку */
    white-space: nowrap;
    transition: all .8s ease-in-out .2s;
}

.product-item {
    position: relative;
    width: calc(var(--content-width) * 0.25);
    padding: 1%;
    display: inline-block;
    vertical-align: middle;
    background-color: #fff;
}

.product-img {
    width: 100%;
    cursor: pointer;
}

.product-description {
    display: none;
}

.product-item .product-description p {
    margin-top: 5%;
    margin-bottom: 5%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    font-weight: bold;
}

.product-item .product-description p:last-of-type {
    margin-bottom: 0;
}

.product-item:hover {
    /* тут нужно учитывать, что при использовании позиционирования absolute /
    fixed этот элемент выпадет из потока, и на него наедет следующий - ... */
    position: fixed;
    top: 25%;
    width: 25vw;
    /* 1.45 принципиально: calc(var(--header-height) * 1.45) - подгоняем,
    чтобы верхняя граница увеличенного и fixed-позиционированного .product-item,
    совпала с верхней границе .products) */
    top: calc(var(--header-height) * 1.45);
    /* 1.45 - НЕ принципиально - просто увеличиваем .product-item */
    width: calc(var(--content-width) * 0.25 * 1.45);
    box-shadow: 2px 0 5px 1px rgb(129, 125, 125);
    z-index: 10;
}

.product-item:hover+input+.product-item {
    /* ... и поэтому мы добавим следующему .product-item margin-left размера
    исходного блока чтобы оттолкнуть его обратно */
    margin-left: calc(var(--content-width) * 0.25);
}

.product-item:hover .product-description {
    display: block;
}

/* --- Slider switcher ------------------------------------------------------------ */

.slider-switchers {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider-switchers label {
    display: inline-block;
    width: 1vw;
    height: 1vw;
    margin: 0 0.5vw;
    border: 1px #333 solid;
    border: 1px solid var(--slider-switchers-color);
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

#move0:checked~.slider-switchers label[for="move0"] {
    background-color: #fff;
    border: var(--slider-switchers-border);
}

#move1:checked~.slider-switchers label[for="move1"] {
    background-color: #fff;
    border: var(--slider-switchers-border);
}

#move2:checked~.slider-switchers label[for="move2"] {
    background-color: #fff;
    border: var(--slider-switchers-border);
}

#move3:checked~.slider-switchers label[for="move3"] {
    background-color: #fff;
    border: var(--slider-switchers-border);
}

/* --- Slider moving ------------------------------------------------------------ */

#move0:checked~.slider-wrapper .slider {
    left: 0;
}

#move1:checked~.slider-wrapper .slider {
    left: calc(var(--content-width) * 0.25 * (-3));
}

#move2:checked~.slider-wrapper .slider {
    left: calc(var(--content-width) * 0.25 * (-6));
}

#move3:checked~.slider-wrapper .slider {
    left: calc(var(--content-width) * 0.25 * (-9));
}

/* --- Modal window ------------------------------------------------------------ */

input[name="increase-img"]:checked+.product-item img {
    position: fixed;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    pointer-events: none;
}

input[name="increase-img"]:checked~.product-description {
    display: none;
}

/* Нужно ли ??? */

/* 
input[name='increase-img']:checked~.modal-window {
    display: block;
} */

.modal-window {
    /* Модальное окно */
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.7);
}

input#close-modal:checked~.modal-window, input#close-modal:checked~.modal-close {
    /* Делает нективными и невидимыми модальное окно и div для его закрытия по умолчанию */
    /* transition: opacity 200ms ease-in; */
    /* -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in; */
}

input#close-modal:checked~.modal-window, input#close-modal:checked~.modal-close {
    display: none;
}

.modal-close {
    /* Это div для закрытия модального окна */
    display: block;
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    z-index: 15;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    transition: transform .3s ease-in-out;
}

.modal-close:hover {
    /* При нависании над div'om с крестиком, он чуть увеличивается */
    transform: scale(1.5);
}